{#
 # Copyright (c) 2012 KUBO Atsuhiro <kubo@iteman.jp>,
 # All rights reserved.
 #
 # This file is part of PHPMentors_Training_Example_Symfony.
 #
 # This program and the accompanying materials are made available under
 # the terms of the BSD 2-Clause License which accompanies this
 # distribution, and is available at http://opensource.org/licenses/BSD-2-Clause
 #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Example ユーザー登録{% block title %}: {% endblock %}</title>
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1>Example ユーザー登録</h1>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
