{#
 # Copyright (c) 2012, 2014 KUBO Atsuhiro <kubo@iteman.jp>,
 # All rights reserved.
 #
 # This file is part of PHPMentors_Training_Example_Symfony.
 #
 # This program and the accompanying materials are made available under
 # the terms of the BSD 2-Clause License which accompanies this
 # distribution, and is available at http://opensource.org/licenses/BSD-2-Clause
 #}

{% extends "ExampleUserRegistrationBundle::layout.html.twig" %}

{% block title %}{{ parent() }}ユーザーアカウント有効化完了{% endblock %}

{% block content %}
<h2>ユーザーアカウント有効化完了</h2>

<div class="well">
  <div class="container-fluid">
    <p>ユーザーアカウント有効化が完了いたしました。</p>
  </div>
</div>
{% endblock %}
